<nav class="navbar navbar-expand-lg shadow">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="navbar_item mr-2">
                <a routerLink="/admin/olimpiada"><i class="fas fa-home"></i> Admin /</a>
            </li>
            <li class="navbar_item mr-2">               
                <a routerLink="/admin/usuario">
                    <i class="fas fa-user"></i> Usuario /</a>
            </li>
            <li class="navbar_item">               
                <a routerLink="/admin/files">
                    <i class="fas fa-file-csv"></i> Importar / </a>
            </li>
            <li class="navbar_item">               
                <a routerLink="/reportes/ganador">
                    <i class="fas fa-poll"></i> Reportes</a>
            </li>
        </ul>
    </div>
</nav>