<div class="panel shadow mt-3" >
  <div class="loading text-center" *ngIf="loading">
    <img src="../../assets/loader.gif" width="50px">
  </div>
  <div class="header">
    <h2 class="title"><i class="fas fa-volleyball-ball"></i> OLIMPIADA: {{ olim.nombre }}</h2>
  </div>
  <div class="inside">
    <div class="list-group">
      <div class="list-group-item">
        <div>
          <strong>Descripcion: </strong> {{ olim.descripcion }}
        </div>
        <div>
          <strong>Fecha de Inicio: </strong> {{ olim.fecha_inicio }}
        </div>
        <div>
          <strong>Fecha de fin de inscripcion: </strong> {{ olim.fecha_fin_inscripcion }}
        </div>
        <div>
          <strong>Fecha de fin: </strong> {{ olim.fecha_fin }}
        </div>
        
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-10">
        <a class="btn btn-success mt-2 mr-5" [routerLink]="['/admin/olimpiada', olim.id, 'edit']">Editar</a>
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-info mt-2" [routerLink]="['/admin/olimpiada']">Regresar</button>
      </div>
    </div> 
  </div>
</div>