<div class="panel shadow mt-3" >
  <div class="header">
    <h2 class="title"><i class="fas fa-volleyball-ball"></i> EDITAR OLIMPIADA</h2>
  </div>
  <div class="inside">
    <form [formGroup]="formEdit"
    (submit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>
            Nombre
          </label>
          <input type="text" 
            formControlName="nombre"
            class="form-control">
        </div>
        <div class="form-group col-md-8">
          <label>
            Descripcion
          </label>
          <input type="text" 
            formControlName="descripcion"
            class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>
          Fecha de Inicio
        </label>
        <input type="date" 
          formControlName="fecha_inicio"
          class="form-control">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>
            Fecha Fin de Inscripcion
          </label>
          <input type="date" 
            formControlName="fecha_fin_inscripcion"
            class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>
            Fecha Fin
          </label>
          <input type="date" 
            formControlName="fecha_fin"
            class="form-control">
        </div>
      </div>
      <button type="submit" class="btn btn-primary mr-2">
        Actualizar
      </button>
      <button class="btn btn-warning mr-2" [routerLink]="['/admin/olimpiada', this.id]">
        Cancelar
      </button>
      <button (click)="delete()" class="btn btn-danger" type="button">Eliminar</button>
    </form>      
  </div>
</div>