<div class="panel shadow mt-3">
  <div class="loading text-center" *ngIf="loading">
    <img src="../../assets/loader.gif" width="50px">
  </div>
  <div class="inside">
    <div class="row">
      <div class="col-sm">
        <div class="header">
          <h2 class="title">Usuario: {{ us.user.name }}</h2>
        </div>
        <div class="inside">
          <div class="list-group">
            <div class="list-group-item">
              <strong>ID: </strong> {{ us.user.id }}
            </div>
            <div class="list-group-item">
              <strong>Email: </strong> {{ us.user.email }}
            </div>        
          </div>
        </div>
       
        <div class="header">
          <h2 class="title">Mis roles</h2>
        </div>
        <div class="inside">
          <div class="list-group">
            <div *ngFor="let t of us.rols" class="list-group-item">
              <button type="button" 
                (click)="deleteRol(t.id)"
                class="btn btn-danger">-</button>
              {{ t.nombre }} 
              
            </div>
          </div> 
        </div>  
      </div>
      <div class="col-sm">
        <div class="header">
          <h2 class="title">Add roles</h2>
        </div>
       <div class="inside">
        <div class="list-group">
          <div *ngFor="let r of rols" 
            class="list-group-item">
            <button type="button" 
              (click)="addRol(r.id)"
              class="btn btn-success">+</button>
            {{ r.nombre }} 
          </div>
        </div>
       </div>
       
      </div>    
    </div>
  </div>
    
  </div>