<div class="panel shadow mt-3">
    <div class="header">
        <h2 class="title"><i class="fas fa-book"></i> REGISTRO DE DISCIPLINA</h2>
    </div>
    
    <div class="inside">
      <div class="btn btn-secondary" *ngIf="!crud_operation.is_visible" (click)="new()">Mostrar</div>
        <form (submit)="crearDisciplina()"
        [formGroup]="newDisciplinaForm" *ngIf="crud_operation.is_visible">
          <div class="form-group row">
            <label for="inputDisciplina" class="col-sm-2 col-form-label">Nombre</label>
            <input type="text" class="form-control m-3" id="inputDisciplina" formControlName="nombre">
            <label for="inputDisciplina" class="col-sm-2 col-form-label">Numero de Participantes</label>
            <input type="number" class="form-control m-3" id="inputDisciplina" formControlName="participantes">
            <div class="form-group col-md-4">
              <label>
                Olimpiada
              </label>
              <div  *ngIf="olimpiadaObject.selected">
              <input type="text"  class="form-control"  
                value="{{ olimpiadaObject.text }}" readonly 
                *ngIf="olimpiadaObject.selected">
                
              <button type="button" 
                (click)="unselectOlimpiada()"
                class="btn btn-info">Cambiar</button>
              </div>
              <div class="list-group" *ngIf="!olimpiadaObject.selected">
                <div class="list-group-item" 
                  *ngFor="let olimpiada of olimpiadas">
                  <button class="btn btn-success" type="button" (click)="selectOlimpiada(olimpiada)"
                  >Seleccionar</button>
                  {{ olimpiada.nombre }}
                  
                </div>
              </div>            
            </div>
          </div> 
          <button type="submit" class="btn btn-primary  mr-2">Guardar</button>
          <button class="btn btn-warning" (click)="crud_operation.is_visible=false">Cancelar</button>  
        </form>    
        <div class="loading text-center" *ngIf="loading">
          <img src="../../assets/loader.gif" width="50px">
        </div>    
        <table class="table table-bordered mt-4">
          <thead>
            <tr>
              <th scope="col">N</th>
              <th scope="col">Disciplina</th>
              <th scope="col">N° de Participantes</th>
              <th scope="col">Olimpiada</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let des of disciplina">
              <td >{{des.id}}</td>
              <td>{{des.nombre}}</td>
              <td>{{des.participantes}}</td>
              <td>{{des.olimpiada.nombre}}</td>
              <td>
                <a [routerLink]="['/admin/disciplina', des.id]" class="btn btn-info">Ver</a>
              </td> 
            </tr>
          </tbody>
        </table>

    </div>
</div> 
   