<div class="row ">
  <div class="col-md-2 printable">
    <img width="100" src="assets/logo reporte.png">
  </div>
  <div class="col-md-8 printable text-center mt-3">
    <h1>Reporte de Ganadores</h1>
  </div>
  <div class="col-md-2 printable mt-3">
    <img width="120" src="assets/instituto-continental.png">
  </div>
</div>

<div class="mb-3 mt-3">
  <button onclick="window.print();"
    class="no-printable btn btn-secondary">Imprimir</button>
</div>
<form class="no-printable mb-2"[formGroup]="this.formSearch" (ngSubmit)="onSubmit()">
  <select formControlName="disciplina"
      class="form-control" id="disciplina"  style="display:inline-block; width: 80%;"> 
      <option [ngValue]="dis" *ngFor="let dis of disc"> {{dis.nombre}} </option>
  </select>

  <button class="btn btn-success carga" type="submit" style="margin-left:10px"> Cargar </button>
</form>
<table class="table">
  <thead>
    <tr>
      <th>Ganador</th>
      <th>Disciplina</th>
      <th>Fase</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let des of list">
      <td>{{ des.nombreequipo }}</td>
      <td>{{ des.nombredisciplina }}</td>
      <td>{{ des.fase }}</td>
    </tr>
  </tbody>
</table>