.panel {
    background-color: #fff;
    border-radius: 6px;
    border-bottom: 2px solid #007bff;
    width: 100%;
}

.header {
    border-bottom: 1px solid #e8e8e8;
}

.title {
    display: inline-block;
    color: #19213d;
    font-size: 1.1em;
    padding: 12px 16px;
}

.inside {
    padding: 16px;
}
