<div class="panel shadow mt-3">
  <div class="loading text-center" *ngIf="loading">
    <img src="../../assets/loader.gif" width="50px">
  </div>    
    <div class="header">
      <h2 class="title"><i class="fas fa-volleyball-ball"></i> Nombre: {{ desaf.disciplina_nombre }}</h2>
    </div>
    <div class="inside">
      <div class="list-group">
        <div class="list-group-item">
          <h5>Fase: </h5> {{ desaf.fase }}
          <h5>Equipo Invitado: </h5> {{ desaf.invitado_nombre }}
          <h5>Equipo Retadador: </h5> {{ desaf.retador_nombre }}
          <h5>Fecha: </h5> {{ desaf.fecha }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <a class="btn btn-success mt-2 mr-5" [routerLink]="['/admin/desafio', desaf.id, 'edit']">Editar</a>
        </div>
        <div class="form-group col-md-2">
          <button class="btn btn-info mt-2" [routerLink]="['/admin/desafio']">Regresar</button>
        </div>
      </div> 
    </div>
  </div>