<div class="panel shadow mt-3" >
  <div class="loading text-center" *ngIf="loading">
    <img src="../../assets/loader.gif" width="50px">
  </div>
    <div class="header">
      <h2 class="title"><i class="fas fa-volleyball-ball"></i> PERSONA: {{ per.nombrecompleto }}</h2>
    </div>
    <div class="inside">
        <div class="list-group">
            <div class="list-group-item">
              <div><strong>Codigo: </strong> {{ per.codigo }}</div>
              <div><strong>DNI: </strong> {{ per.dni }}</div>
              <div><strong>Fecha de nacimiento: </strong> {{ per.fecha_nacimiento }}</div>
              <div><strong>Telefono: </strong> {{ per.telefono }}</div>
              <div><strong>Foto: </strong></div>
              <img src="{{per.foto}}" alt="">
            </div>
          </div>

        <div class="form-row">
          <div class="form-group col-md-10">
            <a class="btn btn-success mt-2 mr-5" [routerLink]="['/admin/persona', per.id, 'edit']">Editar</a>
          </div>
          <div class="form-group col-md-2">
            <button class="btn btn-info mt-2" [routerLink]="['/admin/persona']">Regresar</button>
          </div>
        </div> 
    </div>
</div>
