/* You can add global styles to this file, and also import other style files */
@media print {
    .sidebar {
      display: none;
    }
    .panel {
        margin-left: -170px;      
        border-style: none;
    }
    .loading {
      margin: 25px;
    }
}